@import '~custom-theme.sass'
@import '~typography.sass'
@import '~styles.sass'

.toolbar
  font-family: $r-mono
  color: $white
  background-color: #3D3D3D

mat-sidenav-container
  position: fixed
  width: 100%
  height: calc(100% - 64px)

mat-sidenav-content
  .person-metadata
    height: 102px
    
    .metadata
      background: #f5f5f5
      border-collapse: collapse
      width: calc(100% - 8px)
      margin-left: 4px
      margin-right: 4px
      td, th
        text-align: center
        width: auto
        padding: 10px
        border: 1px solid white

    .course-title
      background: #f5f5f5
      padding: 5px
      font-weight: bold


.sidenav-container
  width: 340px
  padding: 20px
  overflow-x: hidden

.sidenav-title
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  font-weight: bolder
  padding-top: 10px

.legend
  padding-top: 10px

.hamburger
  cursor: pointer
  padding-right: 16px // mat-toolbar-row injects a padding-left of 16px

#cns-logo
  position: absolute
  right: 5px
  height: 54px

app-visualization-wrapper
  height: calc(100% - 120px)