@import '~custom-theme.sass'
@import '~typography.sass'
@import '~styles.sass'

.toolbar
  font-family: $r-mono
  color: $white
  background-color: #3D3D3D

mat-sidenav-container
  position: fixed
  width: 100%
  height: calc(100% - 64px)

.sidenav-container
  width: 340px
  padding: 20px
  overflow-x: hidden

.sidenav-title
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  font-weight: bolder
  padding-top: 10px

.legend
  padding-top: 10px

.hamburger
  cursor: pointer
  padding-right: 10px

#cns-logo
  position: absolute
  right: 5px
  height: 54px

.person-metadata
  margin-left: 1%
  span
    display: table-row