@import '~custom-theme.sass'
@import '~typography.sass'
@import '~styles.sass'

.toolbar
  font-family: $r-mono
  color: $white
  background-color: rgb(69,90,100)

mat-sidenav-container
  position: fixed
  width: 100%
  height: 100%

.sidenavContainer
  width: 340px
  padding: 20px
  overflow-x: hidden

.sidenavTitle
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  font-weight: bolder
  padding-top: 10px

.legend
  padding-top: 25px

.hamburger
  cursor: pointer
  padding-right: 10px

#cnsLogo
  position: absolute
  right: 5px
  height: 54px
